/* Applies To The Whole CSS Document DONE*/
* {
    margin: 0;
}
/* Applies To The Sub-Heading Image */
.Background-Image {
    height: 450px;
    width: 100%;
}
/* Applies To The Portfolio Owner (Maisie McDonald) DONE*/
.Main-Header {
    float: left;
    list-style: none;
}
/* Applies To The Navigational Links DONE */
.Navigational-Links {
    float: Right;
    padding-left: 40px;
    padding-top: 70px;
    padding-right: 30px;
}
/* Applies To The List Items DONE */
li {
    list-style: none;
}
/* Applies To The Whole Header Element DONE */
.Header {
    height: 100px;
    background-color: rgb(236,84,73);
}
/* Applies To The Main Header (Maisie McDonald) DONE */
.Header h1 {
    color: white;
    padding-top: 23px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 50px;
}
/* Applies To The Navigational Links DONE */
.Header a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-decoration: none;
}
/* Applies To The Profile Image */
.Profile-Image {
    position: absolute;
    top: 180px;
    left: 900px;
}
/* Applies To The Profile Image */
.Profile-Image img {
    width: 250px;
    height: 250px;
    border: 10px solid rgb(236,84,73);
    background-color: rgb(236,84,73);
}
/* Applies To The Portfolio Sub-Heading */
.Sub-Heading {
    padding:0;
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(236,84,73);
}
/* Applies To About Me Vertical Line */
.About-Me-Vertical-Line {
    display: inline-block;
    border-right: 10px solid rgb(236,84,73);
    margin: 35px 50px;
    height: 345px;
}
/* Applies To About Me Header */
.About-Me-Section h2 {
    color: rgb(236,84,73);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 35px;
    padding-left: 75px;
    text-align: right;
}
/* Applies To Welcome Message In About Me Section*/
.Welcome-Message {
    color: rgb(236,84,73);
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
}
/* Applies To About Me Body Of Text */
.About-Me-Text {
    color: rgb(236,84,73);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 35px;
    padding-right: 35px;
}
/* Applies To About Me Section */
.About-Me-Section {
    display: flex;
}
/* Applies To The My Work Header */
.My-Work-Section h2 {
    color: rgb(236,84,73);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 35px;
    padding-left: 101px;
    text-align: right;
} 
/* Applies To The My Work Vertical Line */
.My-Work-Vertical-Line {
    display: inline-block;
    border-right: 10px solid rgb(236,84,73);
    margin: 20px 40px;
    height: 1085px;
}
/* Applies To The Different Placeholders In The My Work Section */
.My-Work-Placeholders {
    display: grid;
    grid-template-rows: 500px 300px 300px;
    grid-template-columns: 475px 475px;
    grid-template-areas:
        "Horiseon    Horiseon"
        "LED-Wall    Calculator"
        "Pastels     Run-Buddy";
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
    }
/* Applies To The Main Placeholder (Horiseon) */
#Horiseon-Placeholder {
    background-image: url(../Images/Horiseon-Image.jpg);
    grid-area: Horiseon;
    cursor: pointer;
    border: 10px solid rgb(236,84,73);
}
/* Applies To The LED Wall Placeholder */
#LED-Wall-Placeholder {
    background-image: url(../Images/LED-Wall.jpg);
    grid-area: LED-Wall;
    cursor: pointer;
    border: 10px solid rgb(236,84,73);
}
/* Applies To The Run-Buddy Placeholder */
#Run-Buddy-Placeholder {
    background-image: url(../Images/Run-Buddy.jpg);
    grid-area: Run-Buddy;
    cursor: pointer;
    border: 10px solid rgb(236,84,73);
}
/* Applies To The Calculator Placeholder */
#Calculator-Placeholder {
    background-image: url(../Images/Calculator.jpg);
    grid-area: Calculator;
    cursor: pointer;
    border: 10px solid rgb(236,84,73);
}
/* Applies To The Pastels Puzzle Placeholder */
#Pastels-Puzzles-Placeholder {
    background-image: url(../Images/Pastel-Puzzles.jpg);
    grid-area: Pastels;
    cursor: pointer;
    border: 10px solid rgb(236,84,73)
}
/* Applies To The Horiseon Placeholder Heading */
.Placeholder-Heading-Horiseon {
    background-color: rgb(236,84,73);
    height: 60px;
    width: 250px;
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    position: relative;
    top: 300px
}
/* Applies To All Other Placeholder Headings */
.Placeholder-Heading {
    background-color: rgb(236,84,73);
    height: 60px;
    width: 250px;
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    position: relative;
    top: 120px;
}
/* Applies To The My Work Section */
.My-Work-Section {
    display: flex;
}